#loading {
    text-align: center;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background: black url("../images/loading.gif") no-repeat center center;
  }

  #loading.show {
    display: initial;
  }
  #loading.hidden {
    display: none;
  }