body {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #FFFFFF;
  background: transparent url("images/background.gif") repeat right top;
  font-size: 22px;
}

#main {
  width: 70%;
  max-width: 350px;
  margin: 50px auto 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  color: #000;
  padding: 10px;
  border: 10px solid #FFFFFF;
}

button {
  margin-top: 10px;
  padding: 10px;
}