body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    background: rgba(50, 50, 50, 1);
    color: #FFFFFF;
}

#main {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

#main div {
    border: 1px solid #FFFFFF;
    padding: 10px;
}

p {
    text-align: left;
}

.film {
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px;
}

#loading {
    text-align: center;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background: rgba(50, 50, 50, 1);
}